<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gráficos</title>
    <link rel="stylesheet" href="/public/css/styles.css">
</head>

<body>
    <header>Gerenciar Eventos</header>

    <div class="container">

        <iframe
            style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);"
            width="640" height="480"
            src="https://charts.mongodb.com/charts-project-0-lqniyzy/embed/charts?id=59f62f7e-21b9-406f-9f46-37cd23ec2896&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>

        <iframe
            style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);"
            width="640" height="480"
            src="https://charts.mongodb.com/charts-project-0-lqniyzy/embed/charts?id=521f4369-ad72-454b-a1a6-908578b5d90a&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>

        <iframe
            style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);"
            width="640" height="480"
            src="https://charts.mongodb.com/charts-project-0-lqniyzy/embed/charts?id=61029ae4-6664-4a45-aa77-544e64796d61&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>

    </div>

</body>

</html>